#intestazione{
    text-align: center;
}

body, header, h1, h2, h5, ul{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e4e4e4;
}

/*****Header*****/
body > header{
    background-color: rgb(54,54,54);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

body > header > h1{
    font-family: 'Courier New', Courier, monospace;
}

/****Menu - NAV****/
nav{
    margin: 0 5%;
    text-align: center;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    width: 30%;
    height: fit-content;
    margin: 10px 0 0;
    text-align: center;
    background-color:rgb(54,54,54);
}

nav ul li:nth-child(odd){
    margin-right: 10%;
}

nav ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 5px 0;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

nav ul li:hover a{
    color: rgb(219,69,83);
}

/*****Main - ARTICLE*****/
main{
  margin: 20px 5% 0;
}
article{
    margin-top: 5px;
}

article > header{
    margin-top: 5px;
}

article, main > section{
    background-color: #fff;
    border: 1px solid #cacaca;
    margin-bottom: 10px;
}

article > header > div{
    height: 200px;
    text-align: center;
}

article > header > div > img{
  max-width: 100%;
  max-height: 100%;
}

article > header > h2, article > header > p{
    padding: 0 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article > header > p{
    font-size: 12px;
}

article > section{
    padding: 0 5%;
    font: 12px Verdana, Geneva, Tahoma, sans-serif;
}

article > footer{
    padding: 20px 5% 20px 5%;
    text-align: right;
}

article > footer > a{
    padding: 5px 10px;
    background-color: rgb(221, 221, 221);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article > footer > a:hover{
    color:rgb(219, 69,83);
}

main > section{
    padding: 20px 5%;
}

/*****Footer*****/

body > footer{
    background-color: rgb(54,54,54);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin: 10px 0 10px 0;
}


body > footer > p{
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
}